# Getting Financial Data - Pandas Datareader

### Introduction:

This time you will get data from a website.


### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Create your time range (start and end variables). The start date should be 01/01/2015 and the end should today (whatever your today is).

In [2]:
from datetime import date

In [3]:
time_range = pd.date_range(start='2015-01-01',end=date.today())

In [4]:
time_range

DatetimeIndex(['2015-01-01', '2015-01-02', '2015-01-03', '2015-01-04',
               '2015-01-05', '2015-01-06', '2015-01-07', '2015-01-08',
               '2015-01-09', '2015-01-10',
               ...
               '2022-05-07', '2022-05-08', '2022-05-09', '2022-05-10',
               '2022-05-11', '2022-05-12', '2022-05-13', '2022-05-14',
               '2022-05-15', '2022-05-16'],
              dtype='datetime64[ns]', length=2693, freq='D')

### Step 3. Get an API key for one of the APIs that are supported by Pandas Datareader, preferably for AlphaVantage.

If you do not have an API key for any of the supported APIs, it is easiest to get one for [AlphaVantage](https://www.alphavantage.co/support/#api-key). (Note that the API key is shown directly after the signup. You do *not* receive it via e-mail.)

(For a full list of the APIs that are supported by Pandas Datareader, [see here](https://pydata.github.io/pandas-datareader/readers/index.html). As the APIs are provided by third parties, this list may change.)

In [5]:
apikey = 'FVX77HAQH45JN0MY'

In [7]:
symbol='AAPL'

### Step 4. Use Pandas Datarader to read the daily time series for the Apple stock (ticker symbol AAPL) between 01/01/2015 and today, assign it to df_apple and print it.

In [43]:
url = f'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol={symbol}&interval=Daily&apikey={apikey}'

In [28]:
import requests

In [29]:
r = requests.get(url)
data = r.json()

In [32]:
print(pd.DataFrame(data))

                                                           Meta Data  \
1. Information     Daily Prices (open, high, low, close) and Volumes
2. Symbol                                                       TSLA
3. Last Refreshed                                         2022-05-13
4. Output Size                                               Compact
5. Time Zone                                              US/Eastern
...                                                              ...
2021-12-28                                                       NaN
2021-12-27                                                       NaN
2021-12-23                                                       NaN
2021-12-22                                                       NaN
2021-12-21                                                       NaN

                                                 Time Series (Daily)
1. Information                                                   NaN
2. Symbol                                                        NaN
3. Last Refreshed                                                NaN
4. Output Size                                                   NaN
5. Time Zone                                                     NaN
...                                                              ...
2021-12-28         {'1. open': '1109.4900', '2. high': '1118.9999...
2021-12-27         {'1. open': '1073.6700', '2. high': '1117.0000...
2021-12-23         {'1. open': '1006.8000', '2. high': '1072.9767...
2021-12-22         {'1. open': '965.6600', '2. high': '1015.6599'...
2021-12-21         {'1. open': '916.8700', '2. high': '939.5000',...

[105 rows x 2 columns]

In [33]:
r = requests.get(url)
data = r.json()
data = data.get('Time Series (Daily)')
df_apple = pd.DataFrame(data)

In [34]:
df_apple = df_apple.T

In [35]:
df_apple

              1. open    2. high     3. low   4. close 5. volume
2022-05-13   773.4800   787.3499   751.5650   769.5900  30716908
2022-05-12   701.0000   759.6600   680.0000   728.0000  46770954
2022-05-11   795.0000   809.7700   727.2000   734.0000  32408153
2022-05-10   819.3100   825.3600   774.2500   800.0400  28133877
2022-05-09   836.4500   845.6300   781.1500   787.1100  30270074
...               ...        ...        ...        ...       ...
2021-12-28  1109.4900  1118.9999  1078.4200  1088.4700  20107969
2021-12-27  1073.6700  1117.0000  1070.7152  1093.9400  23715273
2021-12-23  1006.8000  1072.9767   997.5600  1067.0000  30904429
2021-12-22   965.6600  1015.6599   957.0500  1008.8700  31211362
2021-12-21   916.8700   939.5000   886.1200   938.5300  23839305

[100 rows x 5 columns]

### Step 5. Add a new column "stock" to the dataframe and add the ticker symbol

In [16]:
df_apple['stock'] = symbol

In [17]:
df_apple

                      1. open   2. high    3. low  4. close 5. volume stock
2022-05-13 20:00:00  147.2800  147.3000  147.2301  147.2800     39601  AAPL
2022-05-13 19:55:00  147.2500  147.2900  147.2300  147.2800     13399  AAPL
2022-05-13 19:50:00  147.2700  147.2900  147.2300  147.2500      9601  AAPL
2022-05-13 19:45:00  147.2800  147.2800  147.2500  147.2600      3074  AAPL
2022-05-13 19:40:00  147.2900  147.3000  147.2600  147.2600     13688  AAPL
...                       ...       ...       ...       ...       ...   ...
2022-05-13 12:05:00  147.0600  147.2800  146.9000  147.2400    731881  AAPL
2022-05-13 12:00:00  147.2799  147.3200  146.9200  147.0391    661657  AAPL
2022-05-13 11:55:00  146.9800  147.3150  146.8000  147.2786    908757  AAPL
2022-05-13 11:50:00  147.2300  147.3200  146.8700  146.9850    826633  AAPL
2022-05-13 11:45:00  147.2600  147.2900  146.9500  147.2250   1078353  AAPL

[100 rows x 6 columns]

### Step 6. Repeat the two previous steps for a few other stocks, always creating a new dataframe: Tesla, IBM and Microsoft. (Ticker symbols TSLA, IBM and MSFT.)

In [18]:
symbols = ['IBM','AAPL','TSLA']

In [157]:
df = pd.DataFrame()
for symbol in symbols:
    r = requests.get(f'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol={symbol}&interval=5min&apikey={apikey}&outputsize=full')
    data = r.json()
    data = data.get('Time Series (Daily)')
    df_json = pd.DataFrame(data)
    df_json = df_json.T
    df_json['Company'] = symbol
    df = pd.concat([df,df_json])

In [160]:
df.index = pd.to_datetime(df.index)

In [162]:
df.index

DatetimeIndex(['2022-05-13', '2022-05-12', '2022-05-11', '2022-05-10',
               '2022-05-09', '2022-05-06', '2022-05-05', '2022-05-04',
               '2022-05-03', '2022-05-02',
               ...
               '2010-07-13', '2010-07-12', '2010-07-09', '2010-07-08',
               '2010-07-07', '2010-07-06', '2010-07-02', '2010-07-01',
               '2010-06-30', '2010-06-29'],
              dtype='datetime64[ns]', length=14333, freq=None)

### Step 7. Combine the four separate dataFrames into one combined dataFrame df that holds the information for all four stocks

In [42]:
pd.Series(time_range)

0      2015-01-01
1      2015-01-02
2      2015-01-03
3      2015-01-04
4      2015-01-05
          ...
2688   2022-05-12
2689   2022-05-13
2690   2022-05-14
2691   2022-05-15
2692   2022-05-16
Length: 2693, dtype: datetime64[ns]

In [163]:
df

             1. open   2. high    3. low  4. close 5. volume Company
2022-05-13  133.0000  133.8000  131.0500  133.6000   4195218     IBM
2022-05-12  131.2700  133.6200  130.4100  132.9000   5384809     IBM
2022-05-11  129.8600  132.9600  129.8600  130.7500   5301131     IBM
2022-05-10  135.0000  135.4100  128.4300  129.1300   8642398     IBM
2022-05-09  134.4100  136.3450  133.3150  134.4400   7647933     IBM
...              ...       ...       ...       ...       ...     ...
2010-07-06   20.0000   20.0000   15.8300   16.1100   6866900    TSLA
2010-07-02   23.0000   23.1000   18.7100   19.2000   5139800    TSLA
2010-07-01   25.0000   25.9200   20.2700   21.9600   8218800    TSLA
2010-06-30   25.7900   30.4192   23.3000   23.8300  17187100    TSLA
2010-06-29   19.0000   25.0000   17.5400   23.8900  18766300    TSLA

[14333 rows x 6 columns]

In [164]:
df.index >= '2015-01-01'

array([ True,  True,  True, ..., False, False, False])

In [165]:
df = df.iloc[df.index >= '2015-01-01']

In [166]:
df

             1. open   2. high    3. low  4. close 5. volume Company
2022-05-13  133.0000  133.8000  131.0500  133.6000   4195218     IBM
2022-05-12  131.2700  133.6200  130.4100  132.9000   5384809     IBM
2022-05-11  129.8600  132.9600  129.8600  130.7500   5301131     IBM
2022-05-10  135.0000  135.4100  128.4300  129.1300   8642398     IBM
2022-05-09  134.4100  136.3450  133.3150  134.4400   7647933     IBM
...              ...       ...       ...       ...       ...     ...
2015-01-08  212.8100  213.7999  210.0100  210.6150   3442509    TSLA
2015-01-07  213.3500  214.7800  209.7800  210.9500   2968390    TSLA
2015-01-06  210.0600  214.2000  204.2100  211.2800   6261936    TSLA
2015-01-05  214.5500  216.5000  207.1626  210.0900   5368477    TSLA
2015-01-02  222.8700  223.2500  213.2600  219.3100   4764443    TSLA

[5565 rows x 6 columns]

In [167]:
df.index

DatetimeIndex(['2022-05-13', '2022-05-12', '2022-05-11', '2022-05-10',
               '2022-05-09', '2022-05-06', '2022-05-05', '2022-05-04',
               '2022-05-03', '2022-05-02',
               ...
               '2015-01-15', '2015-01-14', '2015-01-13', '2015-01-12',
               '2015-01-09', '2015-01-08', '2015-01-07', '2015-01-06',
               '2015-01-05', '2015-01-02'],
              dtype='datetime64[ns]', length=5565, freq=None)

### Step 8. Shift the stock column into the index (making it a multi-level index consisting of the ticker symbol and the date).

In [168]:
df = df.set_index(keys='Company',append=True)

In [169]:
df.index.levels[0]

DatetimeIndex(['2015-01-02', '2015-01-05', '2015-01-06', '2015-01-07',
               '2015-01-08', '2015-01-09', '2015-01-12', '2015-01-13',
               '2015-01-14', '2015-01-15',
               ...
               '2022-05-02', '2022-05-03', '2022-05-04', '2022-05-05',
               '2022-05-06', '2022-05-09', '2022-05-10', '2022-05-11',
               '2022-05-12', '2022-05-13'],
              dtype='datetime64[ns]', length=1855, freq=None)

### Step 7. Create a dataFrame called vol, with the volume values.

In [170]:
df.columns

Index(['1. open', '2. high', '3. low', '4. close', '5. volume'], dtype='object')

In [171]:
vol = df['5. volume']

In [172]:
vol = pd.DataFrame(vol)

In [175]:
vol.index.levels[0]

DatetimeIndex(['2015-01-02', '2015-01-05', '2015-01-06', '2015-01-07',
               '2015-01-08', '2015-01-09', '2015-01-12', '2015-01-13',
               '2015-01-14', '2015-01-15',
               ...
               '2022-05-02', '2022-05-03', '2022-05-04', '2022-05-05',
               '2022-05-06', '2022-05-09', '2022-05-10', '2022-05-11',
               '2022-05-12', '2022-05-13'],
              dtype='datetime64[ns]', length=1855, freq=None)

### Step 8. Aggregate the data of volume to weekly.
Hint: Be careful to not sum data from the same week of 2015 and other years.

In [105]:
vol.index.get_level_values(0)

Index(['2022-05-13', '2022-05-12', '2022-05-11', '2022-05-10', '2022-05-09',
       '2022-05-06', '2022-05-05', '2022-05-04', '2022-05-03', '2022-05-02',
       ...
       '2015-01-15', '2015-01-14', '2015-01-13', '2015-01-12', '2015-01-09',
       '2015-01-08', '2015-01-07', '2015-01-06', '2015-01-05', '2015-01-02'],
      dtype='object', length=5565)

In [108]:
vol.index.get_level_values(0) = pd.to_datetime(vol.index.get_level_values(0),format='%Y-%m-%d')

SyntaxError: cannot assign to function call (3872852346.py, line 1)

In [110]:
vol.index.levels[0] = pd.to_datetime(vol.index.get_level_values(0),format='%Y-%m-%d')

TypeError: 'FrozenList' does not support mutable operations.

In [106]:
vol.index.levels[0]

Index(['2015-01-02', '2015-01-05', '2015-01-06', '2015-01-07', '2015-01-08',
       '2015-01-09', '2015-01-12', '2015-01-13', '2015-01-14', '2015-01-15',
       ...
       '2022-05-02', '2022-05-03', '2022-05-04', '2022-05-05', '2022-05-06',
       '2022-05-09', '2022-05-10', '2022-05-11', '2022-05-12', '2022-05-13'],
      dtype='object', length=1855)

In [154]:
vol

                   5. volume
           Company
2022-05-13 IBM       4195218
2022-05-12 IBM       5384809
2022-05-11 IBM       5301131
2022-05-10 IBM       8642398
2022-05-09 IBM       7647933
...                      ...
2015-01-08 TSLA      3442509
2015-01-07 TSLA      2968390
2015-01-06 TSLA      6261936
2015-01-05 TSLA      5368477
2015-01-02 TSLA      4764443

[5565 rows x 1 columns]

In [153]:
vol.index

MultiIndex([('2022-05-13',  'IBM'),
            ('2022-05-12',  'IBM'),
            ('2022-05-11',  'IBM'),
            ('2022-05-10',  'IBM'),
            ('2022-05-09',  'IBM'),
            ('2022-05-06',  'IBM'),
            ('2022-05-05',  'IBM'),
            ('2022-05-04',  'IBM'),
            ('2022-05-03',  'IBM'),
            ('2022-05-02',  'IBM'),
            ...
            ('2015-01-15', 'TSLA'),
            ('2015-01-14', 'TSLA'),
            ('2015-01-13', 'TSLA'),
            ('2015-01-12', 'TSLA'),
            ('2015-01-09', 'TSLA'),
            ('2015-01-08', 'TSLA'),
            ('2015-01-07', 'TSLA'),
            ('2015-01-06', 'TSLA'),
            ('2015-01-05', 'TSLA'),
            ('2015-01-02', 'TSLA')],
           names=[None, 'Company'], length=5565)

In [152]:
vol.groupby(by='5. volume',level=[0,1]).sum()

TypeError: 'numpy.ndarray' object is not callable

In [181]:
vol['5. volume'] = vol['5. volume'].astype(int)

In [182]:
vol.resample(rule='W',level=0).sum()

            5. volume
2015-01-04   63494410
2015-01-11  329930581
2015-01-18  358297840
2015-01-25  246183339
2015-02-01  514490208
...               ...
2022-04-17  392428468
2022-04-24  537474298
2022-05-01  728797063
2022-05-08  721950353
2022-05-15  885698830

[385 rows x 1 columns]

### Step 9. Find all the volume traded in the year of 2015

In [192]:
vol_year = vol.resample(rule='Y',level=0).sum()

In [197]:
vol_year

               5. volume
2015-12-31  1.525657e+10
2016-12-31  1.186717e+10
2017-12-31  9.300510e+09
2018-12-31  1.198386e+10
2019-12-31  1.034333e+10
2020-12-31  2.749554e+10
2021-12-31  3.104364e+10
2022-12-31  1.182874e+10

In [198]:
vol_year.index.year

Int64Index([2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022], dtype='int64')

In [200]:
vol_year.iloc[vol_year.index.year == 2015]

               5. volume
2015-12-31  1.525657e+10