# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

### Step 4. How many products cost more than $10.00?

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

### Step 6. Sort by the name of the item

### Step 7. What was the quantity of the most expensive item ordered?

### Step 8. How many times was a Veggie Salad Bowl ordered?

### Step 9. How many times did someone order more than one Canned Soda?

In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep='\t')

In [7]:
df.item_name

0                Chips and Fresh Tomato Salsa
1                                        Izze
2                            Nantucket Nectar
3       Chips and Tomatillo-Green Chili Salsa
4                                Chicken Bowl
                        ...
4617                            Steak Burrito
4618                            Steak Burrito
4619                       Chicken Salad Bowl
4620                       Chicken Salad Bowl
4621                       Chicken Salad Bowl
Name: item_name, Length: 4622, dtype: object

In [16]:
'item_name' == 'Canned Soda'

False

In [18]:
df['item_name'] == 'Canned Soda'

0       False
1       False
2       False
3       False
4       False
        ...
4617    False
4618    False
4619    False
4620    False
4621    False
Name: item_name, Length: 4622, dtype: bool

In [17]:
df[df['item_name'] == 'Canned Soda']

      order_id  quantity    item_name choice_description item_price
18           9         2  Canned Soda           [Sprite]     $2.18
28          14         1  Canned Soda       [Dr. Pepper]     $1.09
51          23         2  Canned Soda     [Mountain Dew]     $2.18
53          24         1  Canned Soda           [Sprite]     $1.09
107         47         1  Canned Soda       [Dr. Pepper]     $1.09
...        ...       ...          ...                ...        ...
3897      1562         1  Canned Soda     [Mountain Dew]     $1.09
3926      1575         1  Canned Soda       [Dr. Pepper]     $1.09
3936      1578         1  Canned Soda  [Diet Dr. Pepper]     $1.09
4008      1604         1  Canned Soda        [Diet Coke]     $1.09
4051      1621         1  Canned Soda           [Sprite]     $1.09

[104 rows x 5 columns]

In [8]:
df.item_name == 'Canned Soda'

0       False
1       False
2       False
3       False
4       False
        ...
4617    False
4618    False
4619    False
4620    False
4621    False
Name: item_name, Length: 4622, dtype: bool

In [9]:
mask = df.item_name == 'Canned Soda'

In [13]:
mask_q = df.quantity > 1

In [14]:
df[mask & mask_q]

      order_id  quantity    item_name choice_description item_price
18           9         2  Canned Soda           [Sprite]     $2.18
51          23         2  Canned Soda     [Mountain Dew]     $2.18
162         73         2  Canned Soda        [Diet Coke]     $2.18
171         76         2  Canned Soda  [Diet Dr. Pepper]     $2.18
350        150         2  Canned Soda        [Diet Coke]     $2.18
352        151         2  Canned Soda        [Coca Cola]     $2.18
698        287         2  Canned Soda        [Coca Cola]     $2.18
700        288         2  Canned Soda        [Coca Cola]     $2.18
909        376         2  Canned Soda     [Mountain Dew]     $2.18
1091       450         2  Canned Soda       [Dr. Pepper]     $2.18
1092       450         2  Canned Soda        [Coca Cola]     $2.18
1944       787         2  Canned Soda       [Dr. Pepper]     $2.18
2135       859         2  Canned Soda        [Diet Coke]     $2.18
2235       901         4  Canned Soda           [Sprite]     $4.36
2905      1156         2  Canned Soda        [Coca Cola]     $2.18
2906      1156         2  Canned Soda           [Sprite]     $2.18
3152      1258         2  Canned Soda       [Dr. Pepper]     $2.18
3364      1349         2  Canned Soda        [Coca Cola]     $2.18
3592      1440         2  Canned Soda        [Diet Coke]     $2.18
3866      1550         2  Canned Soda     [Mountain Dew]     $2.18